* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #020a25;
    overflow-x: hidden;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(238, 175, 59)
}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(238, 175, 59);
    font-weight: 600;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

nav {
    position: relative;
    width: 524px;
    height: 50px;
    background: #020a25;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    padding: 0 10px;
}

nav a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    flex: 1;
    text-align: center;
    font-weight: 500;
    z-index: 1;
}

nav a:hover {
    color: white !important;
}

nav span {
    position: absolute;
    top: 0;
    left: 15px;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, rgb(238, 175, 59), rgb(179, 121, 13));
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: 15px;
    width: 95px;
}

nav a:nth-child(2):hover~span {
    left: 110px;
    width: 95px;
}

nav a:nth-child(3):hover~span {
    left: 210px;
    width: 100px;
}

nav a:nth-child(4):hover~span {
    left: 310px;
    width: 105px;
}

nav a:nth-child(5):hover~span {
    left: 420px;
    width: 85px;
}


/* section */

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 70px 10%;
}

.home-content {
    flex-basis: 50%;
    max-width: 600px;
}

.home-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.home-image img:hover {
    transform: scale(1.1);
}

.home-image img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.home-content h3 {
    margin: 5px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom .5s ease forwards;
    animation-delay: .7s;
    margin-left: 4px;
    color: white !important;
}

.home-content h2 {
    margin: 5px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom .5s ease forwards;
    animation-delay: .7s;
    margin-bottom: 15px;
    color: white;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -5px 0;
    color: rgb(238, 175, 59);
    animation: slideRight .5s ease forwards;
    animation-delay: .7s;
    opacity: 0;
    margin-bottom: 15px;
}

.home-content p {
    font-size: 20px;
    margin: 1px 5px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
    color: rgba(255, 255, 255, 0.61);
}

.home-content h1:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h1 span {
    color: rgb(238, 175, 59);
}


/* about */

.UniHiVerse {
    color: rgb(238, 175, 59);
    font-weight: 700;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: rgb(238, 175, 59);
}

.about-text p {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.61);
}

.about-img:hover {
    transform: scale(1.1);
}


/* our space */

#our-space {
    counter-reset: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.container {
    padding: 90px;
}

.sub-title {
    text-align: center;
    font-size: 70px;
    padding-bottom: 70px;
}

.sub-title span {
    color: rgb(238, 175, 59);
}

.space-list {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: slide 30s linear infinite;
}

.space-list:hover {
    animation-play-state: paused;
}

.space-list .hive {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(238, 175, 59, 0.0), 1px 1px 40px rgb(248, 190, 82);
    margin-left: 10px;
}

.space-list .verse {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(37, 69, 253, 0.0), 1px 1px 40px rgb(70, 128, 235);
    margin-left: 10px;
}

.space-list .hive,
.space-list .verse {
    width: 300px;
    text-align: center;
}

.verse p,
.hive p {
    color: rgba(255, 255, 255, 0.651);
}

.space-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.space-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.space-list div:hover {
    transform: translateY(-10px);
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    white-space: nowrap;
}

.space-list.paused {
    animation-play-state: paused !important;
}

.space-list div:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


/* footer */

footer {
    padding-top: 50px;
    color: #ffffff;
    background: #030f33d2;
}

.container-footer {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
    text-align: center;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.list {
    padding: 0;
}

.list li {
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: rgb(238, 175, 59);
    transition: width .5s;
    transform: translateX(-50%);
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons li {
    list-style: none;
}

.social-icons li {
    color: #ffffff;
    font-size: 25px;
    transition: color 0.3s;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: rgb(240, 172, 46);
}

.social-icons i:hover {
    color: rgb(240, 172, 46);
    transform: translateY(-5px);
}

h3:hover {
    color: rgb(240, 172, 46);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}